build
node_modules
.dist
.next
package-lock.json
public/assets/sofmaslul.mp4
package-lock.json
.DS_Store
package-lock.json
*.xml
*.iml
.idea/vcs.xml
.idea/workspace.xml
package-lock.json
package-lock.json
yarn.lock
package-lock.json
